*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}   

.logo-alura{
    padding-top: 15px;
    padding-left: 10px;
    width: 6%;  
}


main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.texto-ingresado{
    border: none;
    color: #0A3871;
    margin-top: 40px;
    padding-left: 10px;
}

::placeholder{ color: #0A3871;}

.texto-ingresado:focus{
    outline: none;
}

.informacion{
    font-size: 18px;
    font-style: 'Inter';
}

.botones{
    display: flex;
    

}

.encriptar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    
    width: 328px;
}
.encriptar:hover{
    transform: scale(1.05);
}

.desencriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
    height: 67px;
    width: 328px;
}

.desencriptar:hover{
    transform: scale(1.05);
}

.mensaje{
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 180px;
    padding-left: 20px;
    position: absolute;
    height: 90%;
}

.mensaje:focus{
    outline: none;
}




.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 195px;
    margin-top: 580px;
    position: absolute;
    width: 336px;
    transition: 0.5s all;
}

.copiar:hover{
    background: #0A3871;
    transform: scale(1.05);
    color: white;
}



footer{
    text-align: center;
    padding: 40px;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
}

.linkdin{
    width: 3%;
    text-align: center;
}

.github{
    width: 3%;
    text-align: center;
}

@media screen and (max-width:480px){
    
    *{
        font-size: 25px;
    }

    .logo-alura{
        width: auto;
        padding-left: 0px;
    }
    main{
        margin-left: 0px;
        display: inline-block;
    }


    .botones{
        display: inline;
    }

    

    .desencriptar, .encriptar{
        margin-left: 0px;
        height: auto;
    }

    .sectionmensaje, .sectiontexto{
        text-align: center;
    }
    .mensaje{
        width: 80%;
        margin-left: 0px;
        position: relative;
        height: auto;
        margin-top: 20px;

    }

    .copiar{
        position: relative;
        margin-left: 0px;
        margin-top: 0px;

    }

   

}